In [2]:
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
# %matplotlib inline # plot in cell
from sklearn import metrics
import pandas as pd
from scipy import signal
from scipy import stats


import os
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

# for svm
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.svm import SVC

feature_names = ['mean_x', 'mean_y', 'mean_z', 
                'rms_x', 'rms_y', 'rms_z',
                'std_x', 'std_y', 'std_z',
                'med_x', 'med_y', 'med_z',
                'min_x', 'min_y', 'min_z',
                'max_x', 'max_y', 'max_z']

def featuresFromBuffer(at):
    feat = np.zeros(18)
    x = np.array(at.iloc[:,0], dtype=np.float64) 
    y = np.array(at.iloc[:,1], dtype=np.float64)
    z = np.array(at.iloc[:,2], dtype=np.float64)
    
    means = [np.mean(i) for i in [x, y, z]]
    feat[0:3] = means
    
    rms = [np.sqrt(np.mean(i**2)) for i in [x, y, z]]
    feat[3:6] = rms
    
    std = [np.std(i) for i in [x, y, z]]
    feat[6:9] = std
    
    med = [np.median(i) for i in [x, y, z]]
    feat[9:12] = med
       
    Range1 = [ np.amin(i) for i in [x, y, z]]   
    feat[12:15] = Range1
    Range2 = [ np.amax(i) for i in [x, y, z]]    
    feat[15:18] = Range2
    
    return feat

In [16]:
dt = pd.read_excel (r'F:\Program\OneDrive\TLNC\ISI\data\data.xlsx')
dt.columns
dt.shape

Index(['Person', 'State', 'x', 'y', 'z'], dtype='object')

(1048575, 5)

df_test = dt.groupby(['Person'])
df_test.first()

data = df_test.get_group(33.0)
data
type(data)

In [17]:
df = dt.groupby(['Person','State'])
df.first()

                      x      y          z
Person State
1.0    Downstairs -0.15   9.15  -0.340000
       Jogging     4.48  14.18  -2.110000
       Upstairs    3.53  10.76  -3.060000
       Walking     0.69  10.80  -2.030000
2.0    Jogging     5.98   3.87  -6.280000
...                 ...    ...        ...
36.0   Jogging    -9.19  16.36  14.628253
       Sitting    -5.71  -2.34   7.354988
       Standing   -0.11   9.58   2.492524
       Upstairs    1.46   8.50   0.844462
       Walking    -2.87  10.46   0.231546

[172 rows x 3 columns]

In [25]:
Jogging = df.get_group((33.0,'Jogging'))
Walking = df.get_group((33.0,'Walking'))
Upstairs = df.get_group((33.0,'Upstairs'))
Downstairs = df.get_group((33.0,'Downstairs'))
Sitting = df.get_group((33.0,'Sitting'))
Standing = df.get_group((33.0,'Standing'))

Standing

           x     y     z
462771  0.11  9.89  1.46
462772  0.11  9.92  1.46
462773  0.08  9.92  1.46
462774  0.04  9.89  1.46
462775  0.08  9.92  1.46
...      ...   ...   ...
464378  0.08  9.89  1.57
464379  0.15  9.85  1.57
464380  0.15  9.85  1.57
464381  0.15  9.72  1.76
464382  0.15  9.81  1.84

[1612 rows x 3 columns]